.diplomas-titulo {
  text-align: left;
  border: 1px solid #000000;
  min-height: 220px;
  height: 340px;
  display: flex;
  margin-bottom: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 2rem;
}

.diplomas-titulo h2 {
  font-size: 7rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.1rem;
  letter-spacing: 1px;
  text-align: left;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.diplomas-titulo p {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
  opacity: 0.8;
  margin-left: 2.5rem;
  margin-right: 0;
  text-align: left;
  width: 100%;
}
.diplomas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 2rem auto;
  justify-items: center;
  align-items: center;
  border: 1px solid #000000;
  place-items: center;
}

.diplomas-container > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fcfcfc;
  animation: dropIn 0.8s ease-out forwards;
  opacity: 0;
}
.diplomas-container:hover {
  transform: scale(1.1);
}

@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.diplomas-container > * h2,
.diplomas-container > * p {
  text-align: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.diplomas-container img {
  display: block;
  margin: 20px;
  height: 240px;
  width: auto;
  object-fit: contain;
}

.diplomas-container h2 {
  text-align: center;
  width: 100%;
  height: 6rem;
  background-color: #a1a1a1;
  font-size: 1.5rem;
  color: rgb(0, 0, 0);
  margin-top: 0;
}
.diplomas-container p {
  margin-top: 0;
  margin-bottom: 20px;
}

.diplomas-container a,
.button a {
  display: inline-block;
  min-width: 140px;
  max-width: 220px;
  width: auto;
  padding: 10px 24px;
  background: #000000;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.08rem;
  transition: background 0.2s;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  white-space: nowrap;
  margin: 10px;
}

.diplomas-container a:hover,
.button a:hover {
  background: #252525;
  color: #fff;
}
