.footer {
  background-image: linear-gradient(to bottom, rgb(0, 27, 182), rgb(0, 9, 90));
  width: 100%; height: auto;
  color: #fff;
  padding: 1% 0%;
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.cuerpo {
  width: 25%; height: auto;
  margin: 0;
}
.cuerpo img {
  width: 80%; height: auto;
  margin: 5% auto;
}
.cuerpo p {
  width: 80%;
  margin: 3% auto;
}
.cuerpo h3 {
  text-align: center;
}
.footer-enlaces {
  width: 100%; height: auto;
  height: auto;
  display: flex;
  justify-content: space-around;

}
.footer-icon.facebook {
  background-color: #3b5998;
  padding: 3%;
  border-radius: 5px;
  margin: 2%;
}

.footer-icon.whatsapp {
  background-color: #25D366;
  padding: 3%;
  border-radius: 5px;
  margin: 2%;
}

.footer-icon.instagram {
  background-color: #E4405F;
  padding: 3%;
  border-radius: 5px;
  margin: 2%;
}

.footer-icon.tiktok {
  background-color: #000000;
  padding: 3%;
  border-radius: 5px;
  margin: 2%;
}

.footer-icon.youtube {
  background-color: #FF0000;
  padding: 3%;
  border-radius: 5px;
  margin: 2%;
}
.zona-abajo {
  width: 80%;
  margin: 3% auto;
  border-top: 5px double white;
}
.zona-abajo p {
  text-align: center;
}
